/* @font-face {
	font-family: SourceSansPro;
	font-display: swap;
	src: url("/template/fonts/sourcesansproblack.woff2") format("woff2"),
		url("/template/fonts/sourcesansproblack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro;
	font-display: swap;
	src: url("/template/fonts/sourcesansproregular.woff2") format("woff2"),
		url("/template/fonts/sourcesansproregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
} */
