.services-page {
	@include page-padding;

	background: var(--primary-color);
	color: var(--secondary-color);

	&__container {
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;
	}

	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__title.title {
		width: 100vw;

		background-color: var(--tertiary-color);

		font-weight: 700;

		padding: 40px 0;

		color: var(--primary-color);
	}
}

.services-page-card {
	display: block;

	width: 100%;
	height: 100%;

	max-width: 300px;

	aspect-ratio: 1 / 1;

	position: relative;

	border-radius: 5px;

	overflow: hidden;

	transition: all 0.5s;

	color: #838383;


	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.05);
			color: var(--primary-color);
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	&__title {
		color: inherit;

		text-align: center;
		font-size: 22px;
		font-weight: 500;
		line-height: 1.1;

		padding: 20px;

		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;

		bottom: 10px;
		left: 10px;
		right: 10px;

		background-color: rgba($color: #000000, $alpha: 0.4);
	}
}
